.container{
    padding: 2rem;
    display: grid;  
    grid-template-columns: 2.2fr 1fr;
    gap: 2rem;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}

.tbody>tr>td{
    text-align: center;
}

.tbody>tr>:nth-child(2){
    width: 15%;
}

.imageTd>span>img{
    border-radius: 1rem;
}